.git
.idea
__pycache__
data
results
checkpoints
wandb

play_results
evaluation_results
play_results_breakout
play_results_breakout_2
play_results_bair
play_results_tennis
bair_filming
breakout_filming
tennis_filming
videos_bair_1
videos_bair_2
videos_breakout
videos_tennis_1
evaluation/amt_results
